extends /_layout

block head
    meta(charset='utf-8')
    meta(name ='description' content='')
    meta(name='author' content='')
    meta(name='keywords' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/admin.css')

    title= siteName + titleSeparator + title

block body

    div.wrapper
        div.header
            a.homeLink(href='/')

            include /_includes/_headerMenu

        include includes/adminMenu

        div.container
            div.content

                block content

        div.footer
            include /_includes/_footerMenu

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js")
    script(src="/js/admin.js")