extends layout

block content
    div.rules_page
        ol

            li
                h4 Общие положения

                ol
                    li
                        p.
                            Администрация имеет право в одностороннем порядке и в любое время без дополнительных оповещений вносить изменения в настоящую публичную оферту путем помещения на
                            Сайт её новой версии в полном виде. Новая версия оферты вступает в силу с момента её публикации.
                    li
                        p.
                            Администрация рекомендует пользователям регулярно проверять условия настоящей публичной оферты на предмет её изменений и/или дополнения.
                            Продолжение использования Проекта пользователем после внесения изменений и/или дополнений в настоящую публичную оферту означает принятие и согласие пользователя с такими изменениями и/или дополнениями.
                    li
                        p.
                            Администрация не обязана обучать Пользователей работе с программными средствами, необходимыми для взаимодействия с Проектом.
                    li
                        p.
                            В случае если Пользователь обнаружил нарушения/«баги»/неточности/ошибки/способы накрутки/способы обхода защиты в работе Проекта, он обязан сообщить об этом Администрации.
                            Пользователь не должен использовать нарушения/«баги»/неточности/ошибки/способы накрутки/способы обхода защиты в работе
                            Проекта для: получения личной выгоды или выгоды для третьих лиц, нарушения работы Проекта с любой целью, нанесения любого вреда Администрации или любым другим Пользователям.
                    li
                        p.
                            В случае нарушения какого-либо пункта данной оферты пользователю может быть вынесено предупреждение, штраф, ограничение в пользовании Проектом,
                            Бан Аккаунта. Мера наказания определяется Администрацией, претензии и жалобы не принимаются.
                    li
                        p.
                            Администрация самостоятельно принимает решение о наказании или ненаказании пользователя, а также о мерах, принимаемых в качестве наказания.
                            Пользователь, жалующийся на другого Пользователя, не может диктовать Администрации, какое наказание применить (или не применить) к нарушителю.
                    li
                        p.
                            Администрация не раскрывает способы и методы определения нарушителей, а также подробности определения конкретных нарушений,
                            так как раскрытие подобной информации может повлечь за собой более эффективный обман Администрации со стороны нарушителей.
                    li
                        p.
                            В случае блокировки Аккаунта нарушителя денежные средства не возвращаются, убытки не компенсируются.
                    li
                        p.
                            Администрация не принимает участия ни в каких спорах между Пользователями.
                            Любые споры Пользователей, если они не касаются нарушений данной оферты, решаются спорящими сторонами без привлечения Администрации.


            li
                h4 Обязанности пользователей

                ol
                    li
                        p.
                            При регистрации, а также заполнении профиля указывать подлинную информацию во всех полях формы.
                            Сообщение ложных данных является нарушением и может повлечь за собой блокировку Аккаунта.
                    li
                        p.
                            Для общения с Администрацией использовать имеющуюся на Сайте страницу обратной связи. Обращения Пользователей рассматриваются в порядке очереди.

            li
                h4 Прочие условия

                ol
                    li
                        p.
                            Администрация Проекта не гарантирует постоянный или безусловный доступ к предоставляемым услугам.
                            Функционирование проекта может нарушаться действиями непреодолимых сил и иных факторов, предотвращение или преодоление
                            которых выходит за пределы возможностей Администрации Проекта.
                    li
                        p.
                            Проект предоставляется «как есть», Администрация проекта не несёт ответственности за то, что результаты,
                            которые могут быть получены при использовании Проекта, не будут соответствовать целям и ожиданиям его пользователей.
                    li
                        p.
                            Администрация Проекта не несёт ответственности за любые прямые или косвенные убытки,
                            произошедшие из-за использования либо невозможности использования Проекта, а также вследствие несанкционированного доступа к коммуникациям пользователя.
                    li
                        p.
                            Администрация Проекта не несёт ответственности ни по каким договорам и соглашениям между Пользователями.
                            Не выступает гарантом по каким-либо договорам, сделкам и отношениям между Пользователями. Не регулирует и не участвует в личных спорах пользователей.
                    li
                        p.
                            Если какие-либо условия работы сервиса не оговорены в данной оферте либо не описаны на страницах сайта,
                            следует обращаться к Администрации за разъяснениями и следовать тем указаниям, что даст Администрация сайта.


