extends layout

block content
    form#authForm(action='/signin', method='post')

        input(type='email', name='email', placeholder='E-mail')
        if errors && errors.email
            span.authError= errors.email.msg

        input(type='password', name='password', placeholder='Пароль')
        if errors && errors.password
            span.authError= errors.password.msg

        div.captcha
            div.captcha-container
                != captchaRender

        if errors && errors.captcha
            span.authError= errors.captcha.msg

        button(type='submit') Войти
        if errors && errors.signin
            span.authError= errors.signin.msg

        a(href='/restore') Забыли пароль?