ul#gamesNav
    li
        a(href='/user/games/active') Активные
    li
        a(href='/user/games/parsing') Обрабатываются
    li
        a(href='/user/games/pause') Приостановленные
    li
        a(href='/user/games/verify') Проверяются
    li
        a(href='/user/games/completed') Завершенные