div#userHeader

    div#avatar
        a#uploadAvatarLink(href='#')
            img(src='/upload/avatars/user.png')

ul#userNav
    li
        a(href='/user') Мой аккаунт
    li
        a(href='/user/partner') Партнёрка
    li
        a(href='/user/history') История
    li
        a(href='/user/settings') Настройки