table(style='border-spacing:0;font-family:Aria,sans-serif;color:#000;margin:0 auto;width:100%;max-width:600px')
    tbody
        tr
            td(style='text-align:center; border-bottom: 1px solid #e6e6e6; padding-top: 10px; padding-bottom: 10px;')
                a(href='' + siteUrl)
                    img(src='http://localhost:3000/img/RPSplay.svg', alt='logo')
        tr
            td(align='center', style='padding-top: 20px; padding-bottom: 10px;')
                p
                    | Здравствуйте,
                    b #{' '+login}
        tr
            td(align='center', style='padding-top: 10px; padding-bottom: 10px;')
                p
                    | Мы получили запрос на восстановление пароля к вашему аккаунту
                    b #{' '+siteName}
                    | . Если вы не отправляли запрос, просто проигнорируйте это письмо, и пароль не будет изменён.
        tr
            td(align='center', style='padding-top: 10px; padding-bottom: 10px;')
                p
                    | Нажмите кнопку, чтобы перейти к сбросу старого пароля:
        tr
            td
                table(bgcolor='#eb4d00', width='1%', border='0', cellspacing='0', cellpadding='0', style='border-radius:2px;margin:0 auto')
                    tbody
                        tr
                            td(valign='middle', nowrap='', height='67', style='border-collapse:collapse;padding:0 34px;vertical-align:middle;')
                                a(href='' + linkRestore, style='font-family:Arial Narrow,Arial,sans-serif;font-size:15px;color:#ffffff;border-collapse:collapse;white-space:nowrap;word-wrap:normal;text-decoration:none;border-style:none;')
                                    u СБРОСИТЬ ПАРОЛЬ
        tr
            td(align='center', style='padding-top: 10px;')
                p
                    | или перейдите по ссылке:
        tr
            td(align='center', style='padding-bottom: 10px;')
                a(href='' + linkRestore, style='font-size:15px;font-family:Arial;line-height:18px;color:#fe4800;text-decoration:none', target='_blank')
                    | #{linkRestore}
