html, body {
    margin: 0;
    padding: 0;
    border: 0;
    color: #525252;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: #525252;
}
a:hover {
    color: #1082c4;
}

.wrapper {
    width: 650px;
    margin: 0px auto;
    padding: 0 20px;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #D2D2D2;
}

.homeLink {
    width: 82px;
    height: 25px;
    background: url("/img/RPSplay.svg") no-repeat;
    display: block;
    margin-top: 15px;
}

#headNavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px 0;
}

#headNavigation li {
    margin-right: 30px;
}

#headNavigation li:last-child {
    margin-right: 0;
}

#headNavigation a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#balance {
    color: #2db73a;
}

.container {
    padding: 20px 0;
}

.content {
    font-size: 12px;
    text-align: justify;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #D2D2D2;
}

#footerNavigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 15px 0;
}

#footerNavigation li {
    margin-left: 30px;
}

#footerNavigation li:first-child {
    margin-left: 0;
}

#footerNavigation a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
===========================================================================

    Captcha Styles Begin

===========================================================================
*/

.captcha {
    margin: 30px 0 0 0;
    border: 1px solid #fff;
    width: 298px;
}

.captcha-container {
    width: 296px;
    height: 72px;
    overflow: hidden;
    border: 1px solid #d2d2d2;
}

.g-recaptcha {
    position: relative;
    margin: -2px 0 0 -1px;
}

/*
===========================================================================

    Captcha Styles End

===========================================================================
*/


/* Sign In Form and Sign Up Form */

#authForm {
    margin: 0 0 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#authForm input, button {
    width: 300px;
    font-size: 16px;
    color: #525252;
    border-bottom: 1px solid #D2D2D2 !important;
    background: none;
    border: none;
    padding: 25px 0 10px 0;
    outline: none;
}
#authForm input:focus, button:hover {
    border-bottom: 1px solid #5eca62 !important;
}
#authForm button:hover {
    color: #5eca62;
}
#authForm button {
    cursor: pointer;
}
#authForm a {
    font-size: 12px;
    margin: 30px 0 0 0;
    text-decoration: none;
}
#authForm .authError {
    color: #ea2a2a;
    font-size: 12px;
    padding: 5px 0;
}

/* =============== Games Style Begin ================ */

#gamesNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#gamesNav a {
    display: block;
    font-size: 12px;
    border-radius: 10px;
    padding: 8px 10px 10px 10px;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    letter-spacing: 0.3px;
}
#gamesNav a:hover {
    color: #1082c4;
    background: #f7f7f7;
    text-decoration: underline;
}

.gamesContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gameSticker {
    width: 290px;
    padding: 20px 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.gameSticker a {
    display: block;
    text-align: center;
}

.game {
    padding: 20px 0;
}

.game_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
.game_info span {
    border: 1px solid rgba(206, 206, 206, 0.1);
    border-radius: 4px;
    padding: 4px 8px;
    background: rgb(42, 191, 216);
    color: #ffffff;
    cursor: default;
}

.gameError {
    text-align: center;
    font-size: 12px;
    color: #f70000;
    padding: 10px;
    text-decoration: underline;
}

.game_status {
    font-family: Verdana, sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
    text-align: center;
    background: #f9f9f9;
    padding: 5px;
}
.active_game {
    color: green;
    text-decoration: underline;
}
.completed_game {
    color: red;
    text-decoration: underline;
}

#game_status_active {
    background: #3ac149;
}
#game_status_completed {
    background: red;
}
#game_status_pause {
    background: orange;
}
#game_status_parsing {
    background: #a253d4;
}
#game_status_verify {
    background: blue;
}

.rateList {
    margin: 0 0 10px 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rateItem {
    width: 32px;
    height: 32px;
    display: block;
    margin: 5px;
}

.rateItem img {
    width: 32px;
    border-radius: 20px;
}
.clear_rate {
    opacity: 0.5;
}

.createRate {
    text-align: center;
}

.btnCreateRate {
    cursor: pointer;
}

.btnCreateRate:hover {
    color: #5eca62;
}

.game_rates_history {
    padding-top: 20px;
}
.game_rates_history h3 {
    text-align: center;
    font-size: 15px;
}
.rate_history_list li {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px;
}
.rate_history_list li:nth-child(odd) {
    background: #f7f7f7;
}

/* =============== Games Style End ================ */


/* =============== User Styles Begin ================ */

#userHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#userNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid #D2D2D2;
    list-style: none;
}
#userNav a {
    font-size: 13px;
    border-radius: 10px 10px 0 0;
    padding: 8px 10px 10px 10px;
    font-family: Tahoma, sans-serif;
    letter-spacing: 0.3px;
    text-decoration: none;
}

#userNav a:hover {
    background: #f7f7f7;
    text-decoration: underline;
}

.hystoryBlock {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: .8px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hystoryBlock:nth-child(odd) {
    background: #f7f7f7;
}



/* =============== User Styles End ================ */

/* =============== Partner Page Styles Begin ================ */
.partner h3 {
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    font-family: Verdana, monospace;
    text-decoration: underline;
}
.partner_link {
    margin: 15px 0;
    font-size: 12px;
    text-align: center;
}
.partner_link span {
    color: #ff7070;
    border: 1px solid #d8d7d8;
    border-radius: 5px;
    padding: 5px 20px;
    background: #f3f3f3;
}

.referals_list {
    border-top: 1px solid #d8d7d8;
}
.referals_list ul {
    margin: 20px 15px 0 15px;
}
.referals_list li {
    margin: 5px 0;
}
.referals_list a {
    font-size: 12px;
    text-decoration: none;
}
.referals_list a:hover {
    text-decoration: underline;
}

/* =============== Partner Page Styles End ================ */

/*
===========================================================================

    Security Page Style Begin

===========================================================================
*/
#settings_pass_reset_button, #settings_session_resset_button {
    font-family: Tahoma,sans-serif;
    letter-spacing: .8px;
    font-size: 11px;
    width: auto;
    padding: 0 5px;
    border: none !important;
    cursor: pointer;
    color: #979797;
}
#settings_pass_reset_button:hover, #settings_session_resset_button:hover {
    color: #1082c4;
    text-decoration: underline;
}
.setting_pass_update_info {
    font-size: 11px;
    font-family: Tahoma,sans-serif;
    letter-spacing: .8px;
    padding: 10px 5px;
    text-decoration: underline;
}
.settings_block_title {
    font-family: Tahoma, sans-serif;
    letter-spacing: 0.8px;
    border-bottom: 1px solid #d7d8d7;
    margin: 0 0 10px;
    padding: 5px 10px;
    font-size: 13px;
}
.settings_subtitle_block {
    color: #525252;
    font-family: Tahoma,sans-serif;
    font-size: 12px;
    letter-spacing: .8px;
    padding: 0 5px;
}
.sessions, .settings_password {
    padding: 15px 5px;
}
.last_sessions, .sessions_all {
    color: #979797;
    font-size: 11px;
    padding: 10px 5px;
}
.sessions_all {
    list-style: none;
    margin: 0;
    display: none;
}
.sessions_all li {
    padding: 2px 0;
}
.session_on {
    color: #0d84bf;
}
.sessions_btn a {
    color: #979797;
    font-size: 11px;
    cursor: pointer;
    margin: 5px;
}
.sessions_btn a:hover {
    color: #1082c4;
    text-decoration: underline;
}
.session_date {
    padding: 0px 10px;
}

/*
===========================================================================

    Security Page Style End

===========================================================================
*/

/*
===========================================================================

    Support Page Style Begin

===========================================================================
*/

.support_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0;
}

.support_form button {
    cursor: pointer;
}
.support_form input {
    outline: none;
    border: 1px solid #D2D2D2;
    font-size: 14px;
    padding: 5px;
}
.support_form textarea {
    border: 1px solid #D2D2D2;
    width: 610px;
    height: 100px;
    resize: vertical;
    font-size: 14px;
}
.support_label_groupe {
    width: 616px;
}
.support_label {
    padding: 15px 0 5px 0;
    font-size: 13px;
    font-weight: 500;
}
.support_label span {
    color: red;
}

.support_error {
    display: block;
    color: #ea2a2a;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

/*
===========================================================================

    Support Page Style End

===========================================================================
*/

#pagination {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
}
#pagination a {
    margin: 5px;
    text-decoration: none;
}

#pagination li {
    display: inline;
}
#pagination .disabled, .current {
    cursor: default;
}


.btnLink {
    font-size: 16px;
    color: #525252;
    border-bottom: 1px solid #D2D2D2 !important;
    background: none;
    border: none;
    padding: 25px 0 10px 0;
    outline: none;
    text-decoration: none;
}

.btnLink:hover {
    color: #5eca62;
    border-bottom: 1px solid #5eca62 !important;
}

.msg-info {
    font-size: 13px;
    padding: 10px;
    margin: 10px 0;
    background-image: -o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(3,169,244,1) 210%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(255,255,255,1)), color-stop(210, rgba(3,169,244,1)));
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(3,169,244,1) 210%);
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255,255,255,1)), color-stop(210%, rgba(3,169,244,1)));
    background-image: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(3,169,244,1) 210%);
}
/* Helper Classes */
.reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rules_page ol {
    margin: 0;
    padding: 0 5px 0 5px;
    /* убираем стандартную нумерацию */
    list-style: none;
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    counter-reset: li;
}
.rules_page li:before {
    /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: li;
    /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    content: counters(li,".") ". ";
    float: left;
    padding: 0 3px 0 0;
    font-weight: 700;
}
textarea {
    outline: none;
}
@-webkit-keyframes autofill {
    to {
        color: #525252;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input::-webkit-input-placeholder { color: #525252; }
input:-moz-placeholder { color: #525252; }
input {
    -webkit-border-radius: 0;
}
input::-webkit-input-placeholder       {text-indent: 0px;   -webkit-transition: text-indent 0.8s ease;   -o-transition: text-indent 0.8s ease;   transition: text-indent 0.8s ease;}
input::-moz-placeholder                {text-indent: 0px;   -webkit-transition: text-indent 0.8s ease;   -o-transition: text-indent 0.8s ease;   transition: text-indent 0.8s ease;}
input:-moz-placeholder                 {text-indent: 0px;   -webkit-transition: text-indent 0.8s ease;   -o-transition: text-indent 0.8s ease;   transition: text-indent 0.8s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   -webkit-transition: text-indent 0.8s ease;   -o-transition: text-indent 0.8s ease;   transition: text-indent 0.8s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; -webkit-transition: text-indent 0.8s ease; -o-transition: text-indent 0.8s ease; transition: text-indent 0.8s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; -webkit-transition: text-indent 0.8s ease; -o-transition: text-indent 0.8s ease; transition: text-indent 0.8s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; -webkit-transition: text-indent 0.8s ease; -o-transition: text-indent 0.8s ease; transition: text-indent 0.8s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; -webkit-transition: text-indent 0.8s ease; -o-transition: text-indent 0.8s ease; transition: text-indent 0.8s ease;}