ul.reset#headNavigation
    if user
        if user.isAdmin
            li
                a(href='/admin') Управление
        li
            a(href='/user/games') Игры
        li
            a#balance(href='/user/payments') #{user.balance} руб
        li
            a(href='/user') #{user.login}
        li
            a(href='/logout') Выход
    else
        li
            a(href='/signin') Войти
        li
            a(href='/signup') Регистрация