form(action='', method='post', class='support_form')

    div.support_label_groupe

        input(type='hidden', name='email', value= user.email)
        label
            div.support_label Тема сообщения
                = ' '
                span *
            input(type='text', name='theme', style='width:350px')

        if errors && errors.theme
            span.support_error= errors.theme.msg

    label

        div.support_label Описание проблемы, идеи или предложения
            = ' '
            span *
        textarea(name='text')

        if errors && errors.text
            span.support_error= errors.text.msg

    div
        button(type='submit') Отправить