ul#gamesNav
    li
        a(href='/admin/games/active') Активные
    li
        a(href='/admin/games/parsing') Обрабатываются
    li
        a(href='/admin/games/pause') Приостановленные
    li
        a(href='/admin/games/verify') Проверяются
    li
        a(href='/admin/games/completed') Завершенные