extends ../layout

block content
    div#userHeader

        div#avatar
            a#uploadAvatarLink(href='#')
                img(src='/upload/avatars/user.png')
            div.adminUserLogin #{userData.login}

    ul#userNav
        li
            a(href='/admin/user/' + userData._id) Аккаунт
        li
            a(href='/admin/user/partner/' + userData._id) Рефералы
        li
            a(href='/admin/user/payments/' + userData._id) Платежи
        li
            a(href='/admin/user/history/' + userData._id) История

    div
        p Баланс #{userData.balance}