extends ../layout

block content

    if lottery
        div.msg-info Новая игра добавлена
            =', '
            a(href='/user/game/' + lottery._id) перейти к просмотру?

    div#gameCount
        ul.reset
            li Полная сумма:
                span#fullSum
            li Процент:
                span#percent
            li Сумма:
                span#bank
            li Победителю:
                span#bankWin

    form#gameCreateForm(method='post', autocomplete='off')

        label Размер ставки:
            =' '
            span#rateSize 50
            span=' ' + 'руб.'
        input(name='rateSize', type='range', min='10', max='100', step='10', value='50', onmousemove="document.getElementById('rateSize').innerHTML = this.value;")

        label Количество участников:
            =' '
            span#userLimit 50
            span=' ' + 'чел.'
        input(name='userLimit', type='range', min='5', max='100', step='5', value='50', onmousemove="document.getElementById('userLimit').innerHTML = this.value;")

        label Призовые места:
            =' '
            span#userWinners 5
            span=' ' + 'чел.'
        input(name='userWinners', type='range', min='1', max='10', step='1', value='5', onmousemove="document.getElementById('userWinners').innerHTML = this.value;")

        label Авто повтор:
            input(name='repeat', type='checkbox', value='true')

        button.button(type='submit') Добавить

